title Homepage
h1(align='center') Welcome to College Management
BR
h2(align='center') Created By Abhinav Dhamaniya
h2(align='center') 17BCE1121

style.
  body{
    background-color: white;
  }
  h1 {
  text-align: center;
  text-transform: uppercase;
  color: #4CAF50;
  }
style.
  a:link, a:visited {
  background-color: #4CAF50;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  }
  a:hover, a:active {
  background-color: DarkGreen;
  }

 


br
br
br
div(align='center')
  a(href='studLogin')
    | Login as a student
    a
br
br
div(align='center')
  a(href='proflogin')
    | Login as a Proffesor
    a
