doctype html
head
  title Student Login
  style.
    a:link, a:visited {
    background-color: #4CAF50;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    }
    a:hover, a:active {
    background-color: DarkGreen;
    }
  style.
    input[type=text], select {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    }
    input[type=submit] {
    width: 60%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }
    input[type=submit]:hover {
    background-color: #45a049;
    }
    div {
    
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    align:center;
    }
  
p
  a(href='/') Back 
  
h1(align='center') Student Login
div(align='center')
  form(action='/studentProfile' method='post')
    label(for='regno') Registration Number:
    br
    input#fname(type='text' name='regno')
    br
    label(for='pass') Password:
    br
    input#lname(type='text' name='pass')
    br
    br
    input(type='submit' value='Submit')
br
br
div(align='center')
  | New Student? 
  a(href='studsignup')
    | Sign-up
    a
